extends ../layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/product.css")

block content
  main
    if products.length > 0
      h1 Products:
      .grid
        each product in products
          article.card.product-item
            header.card__header
              h1.product__titleGreat #{product.title}
            .card__image
              img(src=product.imageUrl alt=product.title)
            .card__content
              h2.product__price #{product.description}
                p.product__description $#{product.price}
            .card__actions
              button.btn Add to Cart
    else
      h1 No products